<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stalkstock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.others.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".consumer.activities.ProductdetailsActivity" />
        <activity android:name=".consumer.activities.ProductActivity" />
        <activity android:name=".consumer.activities.HomedetailsActivity" />
        <activity android:name=".consumer.activities.AddcartdetailsActivity" />
        <activity android:name=".consumer.activities.AddnewaddressActivity" />
        <activity android:name=".consumer.activities.OrderdeatilsActivity" />
        <activity android:name=".consumer.activities.ThanksActivity" />
        <activity android:name=".consumer.activities.PaymentselectActivity" />
        <activity android:name=".consumer.activities.OrderreviewActivity" />
        <activity android:name=".consumer.activities.ManageaddressActivity" />
        <activity android:name=".consumer.activities.AddcardpaymentActivity" />
        <activity android:name=".consumer.activities.ManagmentPaymentActivity" />

        <activity android:name=".consumer.activities.SelectuserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".consumer.activities.MainConsumerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".consumer.activities.SignupConsumerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="com.stalkstock.advertiser.activities.TestingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="com.stalkstock.advertiser.activities.AfteraddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.NewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.Notification_firstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.ThankyouActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.AddNewCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.NotificationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.stalkstock.advertiser.activities.EditAdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.AdDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.PreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.ManagePaymentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.EditBusinessProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name="com.stalkstock.advertiser.activities.BusinessProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.stalkstock.advertiser.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stalkstock.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>