<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stalkstock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.others.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--driver start-->
        <activity android:name=".driver.AddBankAccount"/>
        <activity android:name=".driver.AddDetailActivity"/>
        <activity android:name=".driver.DriverInformationActivity"/>
        <activity android:name=".driver.Edit_profile"/>
        <activity android:name=".driver.EditDriverInfoActivity"/>
        <activity android:name=".driver.HomeActivity"/>
        <activity android:name=".driver.SignupActivity"/>
        <activity android:name=".driver.UploadActivity"/>
        <activity android:name=".driver.UploadDocActivity"/>


        <!--driver end-->


        <!--vender start-->
        <activity android:name=".vender.ui.FilterScreen"/>
        <activity android:name=".vender.ui.SearchScreen" />
        <activity android:name=".vender.ui.Subscription" />
        <activity android:name=".vender.ui.BidDetail" />
        <activity android:name=".vender.ui.EditProfile" />
        <activity android:name=".vender.ui.OrderDetails" />
        <activity android:name=".vender.ui.NewOrderList" />
        <activity android:name=".vender.ui.EditProduct" />
        <activity android:name=".vender.ui.ProductDetail" />
        <activity android:name=".vender.ui.NotificationSetting" />
        <activity android:name=".vender.ui.NotificationScreen" />
        <activity android:name=".vender.ui.Help" />
        <activity android:name=".vender.ui.ThankYou" />
        <activity android:name=".vender.ui.ChatBox" />
        <activity android:name=".vender.ui.AddNewCard" />
        <activity android:name=".vender.ui.SelectPaymentMethod" />
        <activity android:name=".vender.ui.AddBankAccount" />
        <activity android:name=".vender.ui.PaymentAccounts" />
        <activity android:name=".vender.ui.EditBussinessProfile" />
        <activity android:name=".vender.ui.BussinessProfile" />
        <activity android:name=".vender.ui.BidProduct" />
        <activity android:name=".vender.ui.ChangePassword" />
        <activity android:name=".vender.ui.AddProduct" />
        <activity android:name=".vender.ui.SelectCategory" />
        <activity android:name=".vender.ui.BottomnavigationScreen" />
        <activity android:name=".vender.ui.AddBusinessDetails" />
        <activity android:name=".vender.ui.Verification" />
        <activity android:name=".vender.ui.SignUp" />
        <activity android:name=".vender.ui.ForgotPassword" />
        <activity android:name=".vender.ui.LoginScreen" />


        <!--vender end-->

        <activity android:name=".consumer.activities.MyOrderActivity"/>
        <activity android:name=".consumer.activities.MyRequestActivity" />
        <activity android:name=".consumer.activities.EditAddressDetail2Activity" />
        <activity android:name=".advertiser.activities.EditAddressDetailActivity" /> <!-- commercial -->
        <activity
            android:name="com.live.stalkstockcommercial.ui.view.activities.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.paymnet.ManagePayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.view.fragments.account.ManageAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.address.AddAddress"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.view.fragments.account.BusinessProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.product.AddedProduct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.paymnet.AddNewCard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.product.AddThanks"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.view.activities.Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".commercial.view.activities.MainCommercialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.paymnet.PaymentStatus"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.view.fragments.home.RequestDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.live.stalkstockcommercial.ui.paymnet.SelectPayment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" /> <!-- <activity android:name=".commercial.view.activities.RequestDetail" /> -->
        <!-- <activity android:name=".commercial.view.activities.Verification" /> -->
        <!-- <activity android:name=".commercial.view.activities.PaymentStatus" /> -->
        <!-- <activity android:name=".commercial.view.activities.SelectPayment" /> -->
        <!-- <activity android:name=".commercial.view.activities.AddNewCard" /> -->
        <!-- <activity android:name=".commercial.view.activities.HelpActivity" /> -->
        <!-- <activity android:name=".commercial.view.activities.ManageAddress" /> -->
        <!-- <activity android:name=".commercial.view.activities.AddThanks" /> -->
        <!-- <activity android:name=".commercial.view.activities.ManagePayment" /> -->
        <!-- <activity android:name=".commercial.view.activities.AddedProduct" /> -->
        <!-- <activity android:name=".commercial.view.activities.Chat" /> -->
        <!-- <activity android:name=".commercial.view.activities.OrderDetailActivity" /> -->
        <!-- consumer -->
        <activity android:name=".consumer.activities.ProductdetailsActivity" />
        <activity android:name=".commercial.view.activities.Verification" />
        <activity android:name="stalkstockcommercial.ui.view.activities.FilterActivity" />
        <activity android:name=".consumer.activities.SearchActivity" />
        <activity android:name=".consumer.activities.ProductActivity" />
        <activity android:name=".consumer.activities.HomedetailsActivity" />
        <activity android:name=".consumer.activities.AddcartdetailsActivity" />
        <activity android:name=".consumer.activities.AddnewaddressActivity" />
        <activity android:name=".consumer.activities.OrderdeatilsActivity" />
        <activity android:name=".consumer.activities.ThanksActivity" />
        <activity android:name=".consumer.activities.PaymentselectActivity" />
        <activity android:name=".consumer.activities.OrderreviewActivity" />
        <activity android:name=".consumer.activities.ManageaddressActivity" />
        <activity android:name=".consumer.activities.AddcardpaymentActivity" />
        <activity android:name=".consumer.activities.ManagmentPaymentActivity" />
        <activity android:name=".consumer.activities.EditprofileConsumerActivity" /> <!-- advertiser -->
        <activity
            android:name=".consumer.activities.SelectuserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".consumer.activities.MainConsumerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".consumer.activities.SignupConsumerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.TestingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.AfteraddActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.NewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.Notification_firstActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.ThankyouActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.PaymentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.AddNewCardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.NotificationListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.EditAdActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.AdDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.PreviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.ManagePaymentsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.HelpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.EditBusinessProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.BusinessProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.EditProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.SignupActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".advertiser.activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".advertiser.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stalkstock.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8c46gsZPEYwRqSxm3tSg5zg5Yc7Jr7Gc" />
    </application>

</manifest>